/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics */
body {
  font-family: Courier, monospace;
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

div {
  margin-top: 1em;
}

/* Redacted elements need to be blanked out */
.redacted {
  background-color: black;
  color: transparent;
  text-decoration: none;
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent;
  font-weight: bold;
  color: red
}

.secretHid {
  background-color: transparent;
  color: black;
}

.secretFound {
  background-color: #34925E;
  color: white;
}
