/*********************************************

This is the style file for this project.

Image sources:
https://scutanddestroy.wordpress.com/tag/pixel-art/page/12/
https://indiependentfish.itch.io/2d-pixel-sky-asset-pack

**********************************************/

@font-face {
  font-family: ArcadeClassic;
  src: url('../assets/fonts/ARCADECLASSIC.TTF');
}


body {
  background: url('../assets/images/cloudy.png') no-repeat top center;
  background-size: cover;
  box-sizing: border-box;
}

#playground {
  margin: 0;
  padding: 0;
  font-family: 'ArcadeClassic', 'Calibri', 'Arial', sans-serif;
  font-size: 11;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1200px;
  height: 600px;
  background: url('../assets/images/playground.png') no-repeat top right;
  background-size: cover;
  overflow: hidden;
}

hgroup {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 9999;
}

#list-titles, #numbers {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Calibri', 'Arial', sans-serif;
}


#numbers {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  z-index: -999;
}

#list-titles div, #numbers li {
  display: inline-block;
  width: 11.5%;
  margin: 2px;
  padding: 3px;
}

#list-titles div {
  vertical-align: text-top;
  border-radius: 5px;
}

#numbers li {
  list-style-type: none;
  vertical-align: center;
  width: 9.7%;
  margin: 10px;
}

#numbers li img {
  width: 70%;
}

.title {
  background-color: rgba(255,255,255,0.8);
  padding: 5px;
}

#answer {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,1);
  padding: 20px;
  font-size: 18px;
  text-align: center;
  min-width: 100%;
  z-index: 9999;
}

#instruction {
  color: white;
  background-color: black;
  width: 70%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

#score {
  color: white;
  margin: 20px;
}
