/*********************************************

This is the style file for this project.

**********************************************/

body {
  margin: 0;
  padding: 0;
  background-color: black;
}


/*------------------TITLES--------------------*/

hgroup {
  color: white;
  margin-left: 50px;
  margin-top: 80px;
  font-size: 20px;
}

h1 {
  font-family: 'Nova Script', cursive;
  font-size: 300%;
  text-transform: uppercase;
}

h2,h3 {
  color: rgba(255,255,255,0.7);
}

h2 {
  font-family: 'Nova Script', cursive;
  font-size: 120%;
}

h3 {
  margin-top: 30px;
  font-family: 'Marck Script', cursive;
  font-weight: lighter;
}

/*------------------PLAY SCREEN--------------------*/

.screen {
  overflow: hidden;
  background-image: linear-gradient(45deg, rgb(30,30,30), black);
  /*background: url('../assets/images/background.png') no-repeat;*/
  background-size: contain;
  position: absolute;
  height: 600px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .3s;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

/*------------------AVATAR--------------------*/

#avatar {
  position: absolute;
  background-size: contain;
  height: 100px;
  width: 60px;
  top: 60%;
  left: 60%;
}

/*------------------ENDING TEXTS--------------------*/

#textEnd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  width: 200px;
  font-family: 'Marck Script', cursive;
  opacity: 0;
}


/*------------------PATHWAY CIRCLES--------------------*/

.road img {
  position: absolute;
}

#c2 {
  height: 420%;
  top: 60px;
  left: 60px;
}


#c1 {
  opacity: 0;
  height: 350%;
  top: 100px;
  left: 100px;
}
